div{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

#p1{
    background-color: rgba(255, 0, 0, 0.3);
}

#p2{
    background-color: rgba(0, 255, 0, 0.3);
}

#p3{
    background-color: rgba(0, 0, 255, 0.3);
}