div{
    width: 150px;
    height: 150px;
    background-color: pink;
    border: 1px solid black;
}

div#div1{
    transform: rotateX(150deg);
}

div#div2{
    transform: rotateY(150deg);
}

div#div3{
    transform: rotateZ(150deg);
}